@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Sora', sans-serif;
  background: #0B0B0B;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}